[submodule "public/wp-content/plugins/wordpress-pageblocks"]
	path = public/wp-content/plugins/wordpress-pageblocks
	url = https://github.com/Corjen/wordpress-pageblocks.git
[submodule "public/wp-content/plugins/pageblocks-yoast-seo"]
	path = public/wp-content/plugins/pageblocks-yoast-seo
	url = https://github.com/Corjen/pageblocks-yoast-seo.git
[submodule "public/wordpress"]
	path = public/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "public/wp-content/plugins/wordpress-formbuilder"]
	path = public/wp-content/plugins/wordpress-formbuilder
	url = https://github.com/Corjen/wordpress-formbuilder.git
