/**
 * Base input styling
 *
 * @since 1.0.0
 */
 // scss-lint:disable QualifyingElement, VendorPrefix

input[type='text'],
input[type='email'],
input[type='number'],
input[type='tel'],
select,
textarea {
  @include transition(all);
  width: 100%;
  line-height: 2.5;
  z-index: 1;
  position: relative;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: rem-calc(15);
  min-height: 2.5rem;
  padding: 0 .5rem;
  outline: 0;
  border: 1px solid lighten($primary-font-color, 80%);
  border-radius: .25rem;
  background: $white;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 .5px .5px rgba($primary-color, .5);
  }

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: lighten($primary-font-color, 20%);

    @include breakpoint(small only) {
      font-size: rem-calc(14);
    }
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: lighten($primary-font-color, 20%);
    opacity: 1;
    @include breakpoint(small only) {
      font-size: rem-calc(14);
    }
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lighten($primary-font-color, 20%);

    @include breakpoint(small only) {
      font-size: rem-calc(14);
    }
  }
}
